 .index-title{
  color:#fff;
  font-size: 50rpx;
  text-align: center;
  margin: 0 0 80rpx 0;
}
.index-content{
  height:100vh;
  width:100%;
  background-size:cover;
  background-position:center;  
  display: flex;
  align-items: center;
   
}
.index-content-box{
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap; 
}
.index-content-list{
  width:33.33%;
  height:206rpx;

  text-align: center;
  padding: 20rpx 0;
  box-sizing: border-box;
}
 
.index-content-list:nth-child(3n){
  border-bottom:1px solid rgba(255,255,255,0.2);
}
.index-content-list:nth-child(3n-1){
  border-right:1px solid rgba(255,255,255,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
}
.index-content-list:nth-child(3n-2){
  border-right:1px solid rgba(255,255,255,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
}
.index-content-list:nth-child(12){
  border:0;
}
.index-content-list:nth-child(11){
  border-right:1px solid rgba(255,255,255,0.2);
  border-bottom:0;
}
.index-content-list:nth-child(10){
  border-right:1px solid rgba(255,255,255,0.2);
  border-bottom:0;
}
.index-content-list:active{
  background: rgba(255, 255, 255, 0.2);
}
.index-content-list image{
  width:84rpx;
  height: 84rpx;
}
.index-content-list-name{
  color:#fff;
  font-size: 30rpx;
}
.index-content-list-day{
  font-size: 30rpx;
  color:#666666;
}